<div id="mine-wrapper" ng-controller="firmyCtrl">

    <div class="container">

        <div class="row">
    
            <div id="about" class="col-xs-12 text-center">

                <p>
                    <br/>
                    <br/>
                    Szczegolowe informacje dotyczace firm.<br/>
                    Kliknij na logo aby przejsc na strone o firmie<br/>

                    <ul>
                        <li><a href="azimo-info.html"><img src="img/azimo.jpg" alt="Azimo"></a></li>
                        <li><a href="currencyfair-info.html"><img src="img/currencyfair.png" alt="CurrencyFair"></a></li>
                        <li><a href="transfergo-info.html"><img src="img/transfergo.jpg" alt="TransferGo"></a></li>
                        <li><a href="transferwise-info.html"><img src="img/transferwise.jpg" alt="TransferWise"></a></li>
                    </ul>

                </p>
                
            </div>

        </div>

    </div>

</div>