extends layout

block content
  #mine-wrapper
      #info-company-main.container
        .row
          .col-xs-12.col-sm-4.info-company-logo
            img(src='/images/transfergo.jpg', alt='TransferGo')
          |                         
          .col-xs-12.col-sm-4.info-company-name.text-center
            p Nazwa firmy: TransferGo
          |                         
          .col-xs-12.col-sm-4.info-company-website.text-center
            p strona: www.transfergo.com
      |                 
      .container.line
      |                 
      .container.info-company-line
        p.info-company-about TransferGo informacje o firmie
      |                 
      #info-company-01.container
        .row
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Data powstania firmy: 18.01.2012
            |                             
            .col-xs-12.text-center
              p Wlasciciel i zarzad:
            |                             
            .col-xs-12.text-center
              p
                | Daumantas Dvilinskas
                br
                | Co-Founder and CEO
          |                         
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Zakres dzialalnosci: Finanse  
            |                             
            .col-xs-12.text-center
              p Sektor dzialalnosci: Banki
            |                             
            .col-xs-12.text-center
              p Status firmy: Prywatna
          |                         
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Minimalny transfer: brak
            |                             
            .col-xs-12.text-center
              p Waluty obslugiwane: 16
            |                             
            .col-xs-12.text-center
              p
                | Adres firmy: 
                br
                |                                     One Canada Square Level 49,
                br
                |                                     Canary Wharf, London
                br
                |                                     E14 5AB, United Kingdom
      |                 
      #info-company-02.container
        .row
          img.info-company-map.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.5048458,-0.0218651&zoom=17&size=1170x250&sensor=false&markers=51.5048458,-0.0218651&scale=2', alt='Google Maps')
      |                 
      #info-company-03.container.customer-review
        .row
          .col-xs-12
            .col-xs-6
              p Opinie o TransferGo
            |                             
            .col-xs-6
              a.btn.btn-default.pull-right.btn-bgc-blue(href='/company/review/new')
                p.review-btn Dodaj opinie
          |                         
          .col-xs-12.review-details
            .col-xs-12.col-sm-4.vertical-center
              span.review-stars.text-center
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Autor: Lukasz Maciejewski
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Data: 02.01.2016
          |                         
          .col-xs-12
            p.text-center
              | Przelew zostal zrealizowany expresowo, Pieniadze byly na koncie nastepnego dnia. Super polecam.
          |                         
          .col-xs-12.review-details
            .col-xs-12.col-sm-4.vertical-center
              span.review-stars.text-center
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Autor: Lukasz Maciejewski
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Data: 02.01.2016
          |                         
          .col-xs-12
            p.text-center
              | Przelew zostal zrealizowany expresowo, Pieniadze byly na koncie nastepnego dnia. Super polecam.
          |                         
          .col-xs-12.review-details
            .col-xs-12.col-sm-4.vertical-center
              span.review-stars.text-center
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
                |                                     
                span.glyphicon.glyphicon-star
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Autor: Lukasz Maciejewski
            |                             
            .col-xs-12.col-sm-4.vertical-center
              p.text-center Data: 02.01.2016
          |                         
          .col-xs-12
            p.text-center
              | Przelew zostal zrealizowany expresowo, Pieniadze byly na koncie nastepnego dnia. Super polecam.