extends layout

block content
  header
      #bcg-01.container-fluid
        .container
          .row
            .container-fluid
              .col-xs-12.col-sm-6
                h1#slogan-01
                  | Poniewaz nikt nie lubi przeplacac 
                  br
                  |  przygotowalismy zestawienie 
                  br
                  |  najtanszych przelewow zagranicznych.
                  br
                  |                                 
                  br
                  br
                  | Mam nadzieje, ze dzieki temu uda sie 
                  br
                  | Tobie zaoszczedzic spora sume pieniedzy.
                |                             
                h2#slogan-02
                  | Zestawienie znajdziesz ponizej.
              |                         
              .col-xs-12.col-sm-6
                #rect-01.pull-right
                  #currency-rate.col-xs-12
                    p Kursy walut
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/PLN
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdpln 4.01
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/EUR
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdeur 0.91
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/GBP
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdgbp 0.68
                  |        
    #mine-wrapper
      .container
        .row
          .col-xs-3
            p.select-country Wybierz kraj:
          |                     
          .col-xs-9
            ul.countries
              li.country
                p Austria
              |                             
              li.country
                p Belgia
              |                             
              li.country
                p Dania
              |                             
              li.country
                p Finlandia
              |                             
              li.country
                p Francja
              |                             
              li.country
                p Hiszpania
              |                             
              li.country
                p Holandia
              |                             
              li.country
                p Irlandia
              |                             
              li.country
                p Niemcy
              |                             
              li.country
                p Norwegia
              |                             
              li.country
                p Szwacjaria
              |                             
              li.country
                p Szwecja
              |                             
              li.country
                p USA
              |                             
              li.country
                p Wielka Brytania
              |                             
              li.country
                p Wlochy
      |             
      .container.line
      |             
      .container
        h2.ranking Ranking przelewow zagranicznych z Wielkiej Brytanii do Polski
      |             
      #wide-screen
        .container.ranking-header
          row
            .col-xs-12.compare-desc
              p Aktualne porownanie: kwota przelewu 1000 funtow
            |                         
            .col-xs-12.compare-group
              .compare-title.col-xs-2
                p Nazwa firmy
              |                             
              .compare-title.col-xs-2
                p Kurs wymiany
              |                             
              .compare-title.col-xs-1
                p Oplata
              |                             
              .compare-title.col-xs-2
                p Kwota za 1000
              |                             
              .compare-title.col-xs-1
                p Strata
              |                             
              .compare-title.col-xs-1
                p Rzecz. kurs
              |                             
              .compare-title.col-xs-1
                p Aktualizacja
              |                             
              .compare-title.col-xs-2
                p Opinie klient wg. Trustpilot
        |                 
        #rank-01.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-02.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-03.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-04.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-05.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-06.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
        |                 
        #rank-07.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-elem.col-xs-2
                p 5.8989
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-2
                p 5865.90
              |                             
              .compare-elem.col-xs-1
                p brak
              |                             
              .compare-elem.col-xs-1
                p 5.8659
              |                             
              .compare-elem.col-xs-1
                p 06.01.2016
              |                             
              .compare-elem.col-xs-2
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
                |                             
                span.glyphicon.glyphicon-star
      // End wide screen
      #small-screen
        #rank-01.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-02.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-03.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-04.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-05.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-06.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
        |                 
        #rank-07.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src='images/transferwise.jpg', alt='TransferWise Logo')
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right 5.8989
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right 5865.90
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right brak
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right 5.8659
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right 06.01.2016
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
                |                             
                span.glyphicon.glyphicon-star.pull-right
      // End small screen
      .container-fluid.countries-list
        .container
          .col-xs-12
            ul#country-transf
              li.transf-list
                p.transf-item Przelewy z Austrii
              |                             
              li.transf-list
                p.transf-item Przelewy z Belgii
              |                             
              li.transf-list
                p.transf-item Przelewy z Danii
              |                             
              li.transf-list
                p.transf-item Przelewy z Finlandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Francji
              |                             
              li.transf-list
                p.transf-item Przelewy z Hiszpanii
              |                             
              li.transf-list
                p.transf-item Przelewy z Holandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Irlandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Niemiec
              |                             
              li.transf-list
                p.transf-item Przelewy z Norwegii
              |                             
              li.transf-list
                p.transf-item Przelewy z Szwajcarii
              |                             
              li.transf-list
                p.transf-item Przelewy z Szwecji
              |                             
              li.transf-list
                p.transf-item Przelewy z USA
              |                             
              li.transf-list
                p.transf-item Przelewy z Wielkiej Brytanii
              |                             
              li.transf-list
                p.transf-item Przelewy z W&lstrok;och
    // End main sector
